#head{
    color: aquamarine;
}
.common{
    color: blue;
}
#head1{
    color: chartreuse;
}
#army{
    color: red;
}
#love{
    color: gold;
}
body{
    background:linear-gradient(red,blue); height: 100vh;
}