body{
    box-sizing: border-box;
    background-color:aliceblue;
}
.main{
   background-color: antiquewhite;
   height: 500px;
   width: 500px;
   display: grid;
   grid-template-columns:repeat(3,1fr);
   gap: 10px;
   place-items: center;
   grid-template-areas:a a a
                       b b b
                       c c c c;
}
.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
}
.box2{
   grid-template-rows: 1/3;
    width: 100px;
    background-color:red;
    border: 1px solid black;
}
.box3{
    grid-row: 1/4;
    background-color: blue;
}
