body{
    box-sizing: border-box;
    padding: 40px 60px;
    height: 100vh;
    color:black ;
}
#igm{
    height: 100px;
}
/* header starts*/
header{
    display:flex;
    justify-content: space-between;
    background-color: rgb(223, 12, 117);
    gap: 10px;
}
ul{
    display:flex;
    gap: 20px;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
/* header ends*/
/* banner starts*/
.banner{
    padding: 3px 0px;
    display: flex;
}
.left h2{
    font-size: 48px;
    font-weight: 400;
}
.left p{
    font-size: 28px;
    font-weight: 800;
}
.email{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.email input{
    width:auto;
    height: 20px;
    border: 1px solid black;
    padding:15px;
}
.email button{
    width: 60%;
    background-color: blue;
    color: white;
}
.right img{
    height: 500px;
    width: 100%;
}
/* banner ends*/
/* media queries */

/* moblie */
@media screen and (max-width:768px){
    .banner{
        flex-direction: column-reverse;
    }
    .left h2{
        text-align: center;
    }
    .email{
        flex-direction: column;
    }
    .email button{
        width: 100%;
        height: 47px;
    }
    p{
        text-align: center;
    }
}
