#main{
    display:grid;
    grid-template-columns: repeat(4,auto);
}
.product{
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
}
.product img{
    height: 300px;
    width: 300px;
}